
body{ 
    font-family: 'Anton', sans-serif;
}
h1,h3 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

p,h4{ 
    text-align: center;
}

.card {
    text-align: center;
    border:none;
    background-color: rgba(120, 157, 161, 0.123);
}

.navbar-right {
    margin-left:auto;
    display: inline;
}